@{
    Layout = "_Layout";
}

<h1>Add a Employee:</h1>

<form action="/employees" method="post">
    <label for="employeeName">Enter employee name:</label>
    <input id="employeeName" name="employeeName" type="text">
    <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to employee list</a></p>